<footer>
    <p>&copy; Copyright 2024 Andrew Secker. All rights reserved.</p>
    <div class="social">
        <i class="fa fa-github"></i>
        <i class="fa fa-linkedin"></i>
    </div>
</footer>
</body>
</html>