<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="/images/logo.png">
</head>
<body>
    <header>
        <a href="/" class="logo">
            <img src="/images/logo.png" alt="A picture of a skateboard logo" width="100">
        </a>
        <form action="/boards" method="GET">
            <input type="text" name="query" id="search" placeholder="Search for items">
            <button type="submit" class="fa fa-search"></button>
        </form>
        <div class="navigation">
            <a href="/boards">Browse</a>
            <a href="/boards/new">Sell</a>
            <a href="/">Login</a>
            <a href="/">Sign Up</a>
        </div>
    </header>