<%- include('../partials/header.ejs')%>
    <main>
        <h1>Drew's Skate Shop</h1>
        <p class="webInfo">Welcome to Drew's Skate Shop!</p>
        <p class="webInfo">We are a family owned business created in 2024 to share our love of skateboarding.</p>
        <p class="webInfo">We have tons of boards for sale on our marketplace.</p>
        <a href="/boards" class="browse">Start Browsing</a>
        <img src="/images/skateboarder.jpg" alt="A picture of a man doing a skateboarding trick" class="backPic" width="600">
    </main>
    <%- include('../partials/footer.ejs')%>