<!-- item.html gives a description of an individual item. For the purpose of this project, I will only do a single item page. -->
<%- include('../partials/header.ejs')%>
    <main>
        <div class="thrasherItem">
            <img src="images/thrasher.jpg" alt="A picture of a Thrasher skateboard" class="itemBoardPic" width="150">
            <div class="thrasherInfo">
                <h2 class="itemName">Thrasher Board</h2>
                <p class="itemCondition">Condition: <strong>New</strong></p> 
                <p class="itemPrice">Price: <strong>$59.99</strong> | 4 Offers</p>
                <p class="seller">Seller: <strong>Andrew Secker</strong></p>
                <p class="itemDescription">New condition board with a classic design.</p>
                
                <div class="itemButtons">
                    <button class="edit">Edit</button>
                    <button class="delete">Delete</button>
                </div>
                
            </div>
        </div>
    </main>
    <%- include('../partials/footer.ejs')%>