<!-- items.html will showcase all items listed for sale. If an item is clicked, it will redirect you to item.html. -->
<%- include('../partials/header.ejs')%>
    <main>
        <h1 class="itemH1">Items For Sale</h1>

        <div class="item">
            <a href="item.html">
                <img src="images/thrasher.jpg" alt="A picture of a Thrasher skateboard" class="boardPic" width="600">
                <h2 class="name">Thrasher Board</h2>
                <div class="info">
                    <p class="condition">New</p>
                    <p class="price">$59.99</p>
                    <p class="offers">4 Offers</p>
                </div>
            </a>
                
            <a href="item.html">
                <img src="images/santa.jpg" alt="A picture of a Santa Cruz skateboard" class="boardPic" width="150">
                <h2 class="name">Santa Cruz Board</h2>
                <div class="info">
                    <p class="condition">Like New</p>
                    <p class="price">$49.99</p>
                    <p class="offers">3 Offers</p>
                </div>
                
            </a>
            <a href="item.html">
                <img src="images/ripndip.jpg" alt="A picture of a Rip N Dip skateboard" class="boardPic" width="150">
                <h2 class="name">Rip N Dip Board</h2>
                <div class="info">
                    <p class="condition">Good</p>
                    <p class="price">$29.99</p>
                    <p class="offers">12 Offers</p>
                </div>
            </a>
            <a href="item.html">
                <img src="images/arizona.jpg" alt="A picture of an Arizona Iced Tea skateboard" class="boardPic" width="150">
                <h2 class="name">Arizona Board</h2>
                <div class="info">
                    <p class="condition">Mint</p>
                    <p class="price">$79.99</p>
                    <p class="offers">23 Offers</p>
                </div>
            </a>
            <a href="item.html">
                <img src="images/baker.jpg" alt="A picture of a Baker skateboard" class="boardPic" width="150">
                <h2 class="name">Baker Board</h2>
                <div class="info">
                    <p class="condition">Wear</p>
                    <p class="price">$19.99</p>
                    <p class="offers">4 Offers</p>
                </div>
            </a>
            <a href="item.html">
                <img src="images/birdhouse.jpg" alt="A picture of a Birdhouse skateboard" class="boardPic" width="150">
                <h2 class="name">Birdhouse Board</h2>
                <div class="info">
                    <p class="condition">New</p>
                    <p class="price">$39.99</p>
                    <p class="offers">4 Offers</p>
                </div>
            </a>
        </div>
    </main>
    <%- include('../partials/footer.ejs')%>